{% extends 'board/base.html' %}
{% block content %}
	{% if posts %}
		{% for post in posts %}
			<article class="media content-section">
			  <div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="#">{{ post.author }}</a>
			      <small class="text-muted">{{ post.date_posted|date:"j F Y" }}</small>
			    </div>
			    <h2> <a class="article-title" href="#">{{ post.title }}</a> </h2>
			    <p class="article-content">{{ post.content }}</p>
			    <p class="article-content">Total number of people who is agreeable now: {{ post.agreeable_num }}</p>
			    <p class="article-content">Total number of people who is disagreeable now: {{ post.disagreeable_num }}</p>
			    <form method="POST">
			    	{% csrf_token %}
				    <button class="btn btn-primary" name="vote" type="submit justify-content-center" value="{{ post.title }}_agree">Agree</button>
					<button class="btn btn-danger" name="vote" type="submit justify-content-center" value="{{ post.title }}_disagree">Disagree</button>
			  	</form>
			  </div>
			</article>
		{% endfor %}
	{% else %}
		<article class="media content-section">
			  <div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="#">admin</a>
			    </div>
			    <h2><a class="article-title" href="#">Welcome to VotingBoard</a></h2>
			    <p class="article-content">Welcome to VotingBoard, there is no voting now.</p>
			  </div>
			</article>
	{% endif %}
{% endblock content %}